@charset "UTF-8";



#save {
	position: absolute;
	right: 100px;
}

#load {
	position: absolute;
	right: 150px;
}

.move_divs_handler {
    width: 30px;
    height: 20px;
    border: 1px solid black;
    font-size: 14px;
    background-color: gray;
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
}

#side_btn img {
    width: 50px;
    height: 50px;
    z-index: 10;
    position: relative;
}

#side_list {
    position: fixed;
    top:0;
    height: 100%;
    background-color: rgb(235, 252, 197);
    opacity: 0.8;
    margin: 0;
    z-index: 999;
}

#add_controller {
    border: 1px solid rgb(204, 198, 198);
    width: 150px;
    height: 120px;
    border-radius: 15px;
    position: absolute;
    left: 75px;
    top: 100px;
    display: none;
}

#add_controller img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: none;
}

#add_controller:hover {
    background-color: rgb(218, 209, 209);
    cursor: pointer;
}

#add_controller:hover img {
    display: flex;
}

#add_menu {
	position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#add_list, #add_home {
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

#add_list:hover, #add_home:hover{
	background-color: #52afe8;
}

#div_home_home{
	width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: auto;
    position: absolute;
    left: 500px;
    top: 200px;
    text-align: center;
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#home_value_div{
	display:none;
}

#home_a{
	text-decoration: none;
	color: black;
}

#home_name {
	display: flex;
}

#home_name_modify{
	position:absolute;
	cursor:pointer;
	top:0;
	right:5px;
}

.list_div {
	position: absolute;
	width: 400px;
	height: 100px;
	border: 1px solid black;
	top: 100px;
	left: 500px;
	display:flex;
}

.add_li {
	position: absolute;
	width: 30px;
	top: 0;
	right: 0;
	cursor: pointer;
}

.list_ul{
	list-style: none;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding:0px;
}

.list_li{
	float: left;
	padding: 20px;
	border: 1px solid black;
	display:flex;
}

.list_li_a {
	text-decoration: none;
	color: black;
}

#right_a {
	position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#a_change{
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

#a_change:hover{
	background-color: #52afe8;
}

#right_container {
	position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#font_color, #background_color, #size, #font_size, #blank, #delete_target, #loc{
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

.color, .blanks, .locs{
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	background-color: #ebebeb;
}

#font_color:hover, #background_color:hover, #size:hover, #font_size:hover, #blank:hover, #delete_target:hover, #loc:hover{
	background-color: #52afe8;
}

.font_color, .background_color, .blank, .loc{
	position: absolute;
	width: 100px;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#font_color:hover .font_color, #background_color:hover .background_color, #blank:hover .blank, #loc:hover .loc{
	display: flex;
}

.blanks:hover, .locs:hover{
	background-color: #52afe8;
}