@charset "UTF-8";

#header {
	z-index: 10;
}

/* #footer{
} */

#side_btn img {
    width: 50px;
    height: 50px;
    z-index: 10;
    position: relative;
}

#side_list {
    position: fixed;
    height: 100%;
    background-color: rgb(235, 252, 197);
    opacity: 0.8;
    margin: 0;
    z-index: 999;
}

#move_div_maker {
    border: 1px solid rgb(204, 198, 198);
    width: 150px;
    height: 120px;
    border-radius: 15px;
    position: absolute;
    left: 75px;
    top: 100px;
    display: none;
}

#move_div_maker img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: none;
}

#move_div_maker:hover {
    background-color: rgb(218, 209, 209);
    cursor: pointer;
}

#move_div_maker:hover img {
    display: flex;
}

.move_divs {
    width: 100px;
    height: 80px;
    border: 1px solid black;
    border-radius: 15px;
    resize: both;
    overflow: auto;
    position: absolute;
    left: 500px;
    top: 0px;
    text-align: center;
    background-color: white;
}

.move_divs_handler {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    font-size: 14px;
    background-color: gray;
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
}

.delete_div_btn img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0.5;
}

.delete_div_btn,
.insert_div_btn {
    display: none;
}

.move_divs:hover .delete_div_btn,
.move_divs:hover .insert_div_btn {
    display: block;
}

.insert_div_btn img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 25px;
    opacity: 0.5;
}

.editable {
    width:auto;
    height: auto;
    background-color: rgb(185, 185, 185);
}

#remove{ 
    position: absolute;
    right:50px;
    z-index:999;
}
#save{
    position: absolute;
    right:100px;
    z-index:999;
}
#load{
	position: absolute;
    right:150px;
    z-index:999;
}

#move_div_area{
	height:1000px;
}

#right_move_divs{
	position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#font_color, #background_color, #size, #font_size, #loc, #delete_target{
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}
.color, .locs{
	margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

#font_color:hover, #background_color:hover, #size:hover, #font_size:hover ,#loc:hover, #delete_target:hover{
	background-color: #52afe8;
}


.font_color, .background_color, .loc{
	position: absolute;
	width: 100px;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#font_color:hover .font_color, #background_color:hover .background_color, #loc:hover .loc{
	display: flex;
}

.loc {
	background-color:#ebebeb;
}

.locs:hover {
	background-color: #52afe8;
}

#body_controller {
    border: 1px solid rgb(204, 198, 198);
    width: 150px;
    height: 120px;
    border-radius: 15px;
    position: absolute;
    left: 75px;
    top: 250px;
    display: none;
}

#body_controller:hover {
    background-color: rgb(218, 209, 209);
    cursor: pointer;
}

#body_menu{
    position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#add_login,#add_home{
    margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

#add_login:hover, #add_home:hover{
    background-color: #52afe8;
}

#div_login_login{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: auto;
    position: absolute;
    left: 500px;
    top: 0px;
    text-align: center;
    background-color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#div_home_home{
	width: 400px;
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
    overflow: auto;
    position: absolute;
    left: 500px;
    top: 200px;
    text-align: center;
    background-color: white;
}

#home_value_span{
	display:none;
}

#home_name_modify{
	cursor:pointer;
}

#table_login{
    margin: 30px;
}

#table_login td{
    border: 1px solid black;
}

#table_after_login{
	display:none;
}

#container_controller {
    border: 1px solid rgb(204, 198, 198);
    width: 150px;
    height: 120px;
    border-radius: 15px;
    position: absolute;
    left: 75px;
    top: 400px;
    display: none;
}

#container_controller:hover {
    background-color: rgb(218, 209, 209);
    cursor: pointer;
}

#container_menu{
    position: absolute;
	width: 100px;
	display: none;
	background-color: #ebebeb;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#header_controller,#main_controller,#footer_controller{
    margin: 0;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

#header_controller:hover,#main_controller:hover,#footer_controller:hover{
    background-color: #52afe8;
}