<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.mapper.TestMapper">
	<insert id="save">
		INSERT INTO html(url,content)
		VALUES (#{url},#{content})
	</insert>
	
	<select id="load" resultType="org.test.model.ContentVO">
		SELECT * FROM html WHERE url=#{url}
	</select>
	
	<delete id="remove">
		DELETE FROM html WHERE url=#{tv}
	</delete>
	
	<update id="modify">
		UPDATE html
		SET content = #{content}
		WHERE url = #{url}
	</update>
	
	<select id="loadHeader" resultType="org.test.model.ContentVO">
		SELECT * FROM header WHERE url=#{url}
	</select>
	
	<select id="loadFooter" resultType="org.test.model.ContentVO">
		SELECT * FROM footer WHERE url=#{url}
	</select>
	
	<insert id="saveHeader">
		INSERT INTO header(url,content)
		VALUES(#{url},#{content})
	</insert>
	<update id="modifyHeader">
		UPDATE header 
		SET content=#{content}
		WHERE url=#{url}
	</update>
	
	<insert id="saveFooter">
		INSERT INTO footer(url,content)
		VALUES(#{url},#{content})
	</insert>
	<update id="modifyFooter">
		UPDATE footer 
		SET content=#{content}
		WHERE url=#{url}
	</update>
	
	<select id="loadSignUp" resultType="org.test.model.ContentVO">
		SELECT * FROM signup WHERE url=#{url}
	</select>
	
	<insert id="saveSignUp">
		INSERT INTO signup(url,content)
		VALUES(#{url},#{content})
	</insert>
	<update id="modifySignUp">
		UPDATE signup 
		SET content=#{content}
		WHERE url=#{url}
	</update>
	
	<update id="createMemTable" parameterType="java.lang.String">
		${value}
	</update>
	
	<update id="dropTable" parameterType="java.lang.String">
		drop table IF EXISTS ${value}
	</update>
	
	<insert id="createFirstAccount" >
		INSERT INTO member_${id} (id,password)
		VALUES (#{id},#{password})
	</insert>
	
	<select id="login" resultType="org.test.model.MemberVO" >
		SELECT * FROM member_${sign_date} WHERE id=#{id} and password=#{password}
	</select>
	
	<insert id="signUp" >
		INSERT INTO member_${sign_date} (id,password,name,phone,email,birth)
		VALUES (#{id},#{password},#{name},#{phone},#{email},#{birth})
	</insert>
	
	<select id="dupCheck" resultType="org.test.model.MemberVO">
		SELECT * FROM member_${sign_date} WHERE id=#{id}
	</select>
	
	<select id="logOut" resultType="org.test.model.MemberVO">
		SELECT * FROM member_${sign_date} WHERE id=#{id}
	</select>
</mapper>